.start-screen {
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 100vh;
        // width: 90%;
        @media (max-width: 1460px) {
            width: 90%;
        }
        @media (max-width: 960px) {
            height: auto;
            width: 100%;
        }
        @media (max-width: 500px) {
            height: auto;
            width: 100%;
        }
    }
    .header {
        font-weight: bold;
        position: fixed;
        font-size: 64px;
        top: 900px;
        color: #f44336;
    }
    @media (max-width: 960px) {
        overflow: hidden;
    }
}

.start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    display: flex;
    justify-content: center;
    img {
        width: 25vw;
        height: auto;
        @media (max-width: 850px) {
            width: 220px;
            position: absolute;
            bottom: 60px;
            // left: -30px;
        }
        @media (max-width: 600px) {
            width: 40vw;
            height: 50px;
            position: absolute;
            bottom: 80px;
            right: 195px;
        }
        @media (max-width: 500px) {
            width: 40vw;
            height: 50px;
            position: absolute;
            bottom: 120px;
            right: 300px;
        }
        @media (max-width: 400px) {
            width: 40vw;
            height: 35px;
            position: absolute;
            bottom: 150px;
            right: 355px;
        }
    }
    &:hover {
        filter: brightness(1.25);
        cursor: pointer;
    }
    @media (max-width: 960px) {
        width: 400px;
        position: absolute;
        bottom: 200px;
        left: 200px;
    }
}