<h1 mat-dialog-title>Add new player</h1>
<div mat-dialog-content>
    <p>Please enter the name of a player.</p>
    <mat-form-field>
        <mat-label> Name</mat-label>
        <input matInput [(ngModel)]="name" cdkFocusInitial>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [disabled]="name.length == 0" id='OkBTN' cdkFocusInitial [mat-dialog-close]="name" cdkFocusInitial>Ok</button>
    <!--Der btn ist disabled, wenn name.length == 0 ist. Also wird angewendet nur wenn die Variable name den Wert 0 hat-->
</div>