@import './models/fonts.css';
@import './models/material-font.css';
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

html,
body {
    overflow: hidden;
}

@media (max-width: 1000px) {
    .hide-mobile {
        display: none !important;
    }
}

@media (min-width: 1000px) {
    .hide-desktop {
        display: none !important;
    }
}

.mat-fab .mat-button-wrapper {
    @media (max-width: 420px) {
        padding: 7px 0;
    }
}